server:
  port: 8081
  servlet:
    context-path: /profile
spring:
  application:
    name: profile-service
  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: 12345678
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB
logging:
  level:
    org.springframework.data.neo4j.cypher.deprecation: ERROR
    org.springframework.data.neo4j.cypher.unrecognized: ERROR
app:
  services:
    file: http://localhost:8084
    identity: http://localhost:8080/identity
    task: http://localhost:8088/task
